<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Dodaj smestaj</title>
	</head>
	<body>
		<h3>Dodaj smestaj:</h3>
		<form th:action="@{/smestaji/getSviSmestaji/add}" th:object="${smestaj}" method ="post">
			<table>
				
				<tr>
					<td>Adresa:</td>
					<td><input type = "text" th:field="*{lokacija}"></td>
				</tr>
				<tr>
					<td>Opis:</td>
					<td><textarea rows="6" cols="22" th:field="*{opis}"></textarea></td>
				</tr>
				<tr>
					<td>Tip:</td>
					<td><input type = "text" th:field="*{tip}"></td>
				</tr>
				<tr>
					<td>Kategorija:</td>
					<td><select th:field="*{kategorija}">
					  <option value="hotel">Hotel</option>
  					  <option value="bed and breakfast">Bed and breakfast</option>
 					  <option value="apartman">Apartman</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>Kapacitet:</td>
					<td><input type = "number" th:field="*{kapacitet}"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type = "submit" value="Save"></td>
				</tr>
			</table>
		</form>
		
	</body>
</html>