
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Naslovna</title>
	</head>
	<body>
		<h3>Rezervacije</h3>
	
		<table border = "1">
			<tr>
				<th>Korisnik</th>
				<th>potvrdjeno</th>
				<th>Datum realizacije</th>
				<th>Ponuda</th>
				<th>Potvrdi</th>
			</tr>
			<tr th:each="rezervacija, iterStat: ${rezervacije}">
				<td th:text="${rezervacija.registrovaniKorisnik.prezime}"></td>
				<td th:text="${rezervacija.potvrdjeno}"></td>
				<td th:text="${rezervacija.datumRealizacije}"></td>
				<td th:text="${rezervacija.ponuda.id}"></td>
				<td><a th:href="${'/smestaji/potvrdiRez/' + rezervacija.id}">Potvrdi</a></td>
			</tr>
		</table>
	</body>
</html>