<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Smestaj prikazani</title>
	</head>
	<body>
		<h1 th:text="${smestaj.lokacija +' - ' + smestaj.naziv}"></h1>
		
		<a th:href="@{'/imgsmestaji/' + ${smestaj.id} + '/image'}" role="button">Change Image</a>
		
		<!--<img th:src="@{'/imgsmestaji/' + ${smestaj.id} + '/smestajiimage'}" width="360" height="240">-->
		<table>
			<tr th:each="image, iterStat: ${slike}">
				<td><img th:src="@{'/imgsmestaji/' + ${smestaj.id} + '/smestajiimage/' + ${image.id}}" width="360" height="240"></td>
			</tr>
		</table>
		<h2>Ponude smestaja</h2>
		<div th:if = "${smestaj.zauzet} == true">
		  <h4>Ne mozete dodavati nove ponude niti odobravati rezervacije dok je smestaj zauzet!</h4>
		</div>
		<div th:if = "${smestaj.zauzet} == false">
		<table border = "1">
			<tr>
				<th>Cena</th>
				<th>Broj kreveta</th>
				<th>od</th>
				<th>do</th>
				<th>Rezervacije</th>
			</tr>
			<tr th:each="ponuda, iterStat: ${ponude}">
				<td th:text="${ponuda.cena}"></td>
				<td th:text="${ponuda.brojKreveta}"></td>
				<td th:text="${ponuda.od}"></td>
				<td th:text="${ponuda.doDatuma}"></td>
				<td><a th:href="${'/smestaji/getSveRez/' + ponuda.id}">Rezervacije za odobravanje</a></td>
			</tr>
		</table>
		<a th:href="${'/smestaji/getSvePonude/add/' + smestaj.id}">Dodaj novu ponudu</a>
		</div>
	</body>
</html>